
@model WebVehiculoMVC.Models.VehiculoMarca

@{
    ViewBag.Title = "Agregar";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Agregar</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Agregar Vehiculo</h1>
   
    <table>

        @using (Html.BeginForm())
        {
            <tr><td>Nombre</td><td>@Html.TextBoxFor(VM => VM.V.NombreV)</td></tr>
            <tr><td>Modelo</td><td>@Html.TextBoxFor(VM => VM.V.ModeloV)</td></tr>
            <tr><td>Marca</td><td>@Html.DropDownListFor(VM => VM.V.IdM, new SelectList(@Model.M, "idM", "nombreM"))</td></tr>
            <tr><td></td><td><input type="submit" value="Agregar" /></td></tr>
        }
    </table>
    <br />
    @Html.ActionLink("Vovler", "Index");
</body>
</html>


